@import 'settings';
@import 'custom_variables';

.row {
  margin: 1em;
}

.entry__amount {
  font-weight: bold;
}
.income .entry__amount, .positive { color: $custom-green; }
.expense .entry__amount, .negative { color: $custom-red; }

td.entry__amount, td.account__total {
  width: 25%;
  text-align: right;
}

.entry__description {
  a, a:visited {
    // color: $black;
    font-variant: bold;
  }
}

@include breakpoint(medium) {
  td.entry__amount, td.account__total {
    width: 6rem;
  }
}
